<h3>
  Contract Full-Stack Developer, Acuris (<time datetime="2018-06"
    >Jun 2018</time
  >
  - <time datetime="2020-03">Mar 2020</time>)
</h3>

<svg class="logo logo--acuris" xmlns="http://www.w3.org/2000/svg">
  <title>Acuris</title>
  <use xlink:href="#logo-acuris" />
</svg>

<p>
  Full stack developer, focusing on the frontend development of the new
  <a href="https://www.acuris.com">Acuris</a> CMS.
</p>

<p>
  Ensuring the CMS complies with AA level standards of accessibility, and
  optimising load times through code splitting and server side rendering.
</p>

<p>Mentoring and guiding a junior developer.</p>

<p>
  Skills: Typescript, Javascript, React, Node, express, webpack, babel,
  Bootstrap, styled-components, Jest, Enzyme, react-testing-library, Testcafe,
  webdriver.io, Terraform
</p>
