<h3>
  IT Manager, Angels IT (<time datetime="2004">2004</time> -
  <time datetime="2008-02">Feb 2008</time>)
</h3>

<p>
  Manager of 3 other developers (and developing myself in PHP, MYSQL, XHTML and
  CSS).
</p>

<ul>
  <li>
    Property Angels
    <a href="http://www.propertyangels.co.uk">www.propertyangels.co.uk</a>
  </li>
  <li>
    Estate Angels
    <a href="http://www.estateangels.co.uk">www.estateangels.co.uk</a>
  </li>
  <li>
    Mortgage Angels
    <a href="http://www.mortgageangels.co.uk">www.mortgageangels.co.uk</a>
  </li>
</ul>
