<h3>
  Co-founder and Developer, Authored (<time datetime="2017-06">Jun 2017</time>
  - Present)
</h3>

<svg class="logo logo--authored" xmlns="http://www.w3.org/2000/svg">
  <title>Authored</title>
  <use xlink:href="#logo-authored" />
</svg>

<p>
  Leading the front end work on developing
  <a href="https://www.authored.io">Authored</a>, a headless CMS.
</p>

<span>Skills:</span>
<ul class="skills">
  <li>React</li>
  <li>Preact</li>
  <li>Redux</li>
  <li>Node</li>
  <li>DynamoDB</li>
  <li>MongoDB.</li>
</ul>