<h3>
  Contract Web/iOS Developer, BBC Weather (<time datetime="2012-11"
    >Nov 2012</time
  >
  - <time datetime="2013-08">Aug 2013</time>)
</h3>

<svg class="logo logo--bbc-weather" xmlns="http://www.w3.org/2000/svg">
  <title>BBC Weather</title>
  <use xlink:href="#logo-bbc-weather" />
</svg>

<p>
  Working on improving the desktop and mobile websites for BBC Weather.
</p>

<p>
  I also helped develop feeds for the iPhone/Android BBC Weather apps to
  consume, as well as bug fixes/improvements on the iPhone app itself, which is
  regularly in the top 10 free downloads in Apple’s App Store and was recently
  awarded an 'Honoree' Webby Award at the 2014 Webby Awards.
</p>

<p>
  I helped to implement a host of accessibility improvements on the desktop
  site, and prototyped a new responsive layout for the site.
</p>

<p>
  Skills used: PHP (Zend), HTML5, CSS (Less), Javascript, JQuery, Qunit, Ruby,
  Cucumber, Objective-C.
</p>

<ul>
  <li>
    Website -
    <a href="http://www.bbc.co.uk/weather">www.bbc.co.uk/weather</a>
  </li>
  <li>
    Mobile -
    <a href="http://m.bbc.co.uk/weather">m.bbc.co.uk/weather</a>
  </li>
  <li>
    iOS app -
    <a href="https://itunes.apple.com/gb/app/bbc-weather/id649420946?mt=8"
      >https://itunes.apple.com/gb/app/bbc-weather/id649420946?mt=8</a
    >
  </li>
</ul>
