<h3>
  Contract Web Developer, BBC News (<time datetime="2013-11">Nov 2013</time> -
  <time datetime="2014-09">Sep 2014</time>)
</h3>

<svg class="logo logo--bbc-news" xmlns="http://www.w3.org/2000/svg">
  <title>BBC News</title>
  <use xlink:href="#logo-bbc-news" />
</svg>

<p>
  Front end Developer for Scotland Decides (<a
    href="http://www.bbc.co.uk/scotland-decides"
    >www.bbc.co.uk/scotland-decides</a
  >) and Local and European Elections (<a href="http://www.bbc.co.uk/vote2014"
    >www.bbc.co.uk/vote2014</a
  >).
</p>

<p>Highlights include:</p>

<ul>
  <li>
    Animated CSS3 3D banner across all Scotland Decides and Vote 2014 pages
  </li>
  <li>
    Animated SVG hemicycle on
    <a href="http://www.bbc.co.uk/news/events/vote2014/eu-election-results"
      >www.bbc.co.uk/news/events/vote2014/eu-election-results</a
    >
  </li>
  <li>
    Prototype 3d Scotland map built using three.js webGL library at:
    <a href="http://afternoon-meadow-7270.herokuapp.com"
      >afternoon- meadow-7270.herokuapp.com</a
    >
  </li>
  <li>
    Responsive result tables across a variety of Scotland Decides and Vote 2014
    pages Small amount of initial development on Market Data pages
  </li>
  <li>
    Skills and tools include: HTML 5, Mustache templating, PHP, Ruby, RSpec, JS,
    Jasmine, Sass, Cucumber, Grunt, Rake, AWS, Three.js (S3, DynamoDB, EC2, SQS)
  </li>
</ul>
