<h3>
  Contract Web Developer, BBC News (<time datetime="2015-09">Sept 2015</time> -
  <time datetime="2015-06">June 2016</time>)
</h3>

<svg class="logo logo--bbc-news" xmlns="http://www.w3.org/2000/svg">
  <title>BBC News</title>
  <use xlink:href="#logo-bbc-news" />
</svg>

<p>
  Working on the
  <a href="http://www.bbc.co.uk/news/election/2016">Election 2016</a>, and
  <a href="http://www.bbc.co.uk/news/politics/eu_referendum">EU Referendum</a>
  projects.
</p>

<p>
  Ensuring the politics team delivered a product to a high standard, focusing on
  Accessibility and web performance.
</p>

<p>
  Highlights include being responsible for the promotion results banners which
  appeared on the front page of BBC News.
</p>

<p>
  Skills: HTML5, CSS3, Sass, JRuby, PHP, rspec, grunt, Mocha,
  Chai, Sinon, Require JS, jQuery, Photoshop, Illustrator.
</p>
