<h3>
  Contract Web/iOS Developer, BBC Weather (<time datetime="2012-11"
    >Nov 2012</time
  >
  - <time datetime="2013-08">Aug 2013</time>)
</h3>

<svg class="logo logo--bbc-weather" xmlns="http://www.w3.org/2000/svg">
  <title>BBC Weather</title>
  <use xlink:href="#logo-bbc-weather" />
</svg>

<p>
  Improving and developing new features for the desktop and mobile sites for
  <a href="http://www.bbc.co.uk/weather">BBC Weather</a>.
</p>

<p>
  Developed feeds for the BBC Weather mobile apps to consume, as
  well as bug fixes and improvements on the iPhone app - regularly in
  the top 10 free downloads in
  <a href="https://itunes.apple.com/gb/app/bbc-weather/id649420946?mt=8"
    >Apple’s App Store</a
  >
  and was awarded an 'Honoree' Webby Award.
</p>

<p>
  Implemented a host of accessibility improvements on the desktop
  site, and prototyped a new responsive layout.
</p>

<p>
  Skills: PHP (Zend), HTML5, CSS (Less), Javascript, JQuery, Qunit, Ruby,
  Cucumber, Objective-C.
</p>
