<h3>
  Contract Web Developer, BBC News (<time datetime="2013-11">Nov 2013</time> -
  <time datetime="2014-09">Sep 2014</time>)
</h3>

<svg class="logo logo--bbc-news" xmlns="http://www.w3.org/2000/svg">
  <title>BBC News</title>
  <use xlink:href="#logo-bbc-news" />
</svg>

<p>
  Front end Developer for
  <a href="http://www.bbc.co.uk/scotland-decides">Scotland Decides</a> and
  <a href="http://www.bbc.co.uk/vote2014">Local and European Elections</a>
</p>

<p>Highlights include:</p>

<ul>
  <li>
    Animated CSS3 3D banner across all Scotland Decides and Vote 2014 pages
  </li>
  <li>
    Animated SVG hemicycle on
    <a href="http://www.bbc.co.uk/news/events/vote2014/eu-election-results"
      >EU results page</a
    >
  </li>
  <li>
    <a href="http://afternoon-meadow-7270.herokuapp.com"
      >Prototype 3d Scotland map</a
    >
    built using three.js webGL library
  </li>
  <li>
    Responsive result tables across a variety of Scotland Decides and Vote 2014
    pages
  </li>
</ul>

<span>Skills:</span>
<ul class="skills">
  <li>HTML 5</li>
  <li>Mustache templating</li>
  <li>PHP</li>
  <li>Ruby</li>
  <li>RSpec</li>
  <li>Javascript</li>
  <li>Jasmine</li>
  <li>Sass</li>
  <li>Cucumber</li>
  <li>Grunt</li>
  <li>Rake</li>
  <li>AWS</li>
  <li>Three.js</li>
  <li>S3</li>
  <li>DynamoDB</li>
  <li>EC2</li>
  <li>SQS</li>
</ul>
