<h3>
  Contract Web Developer, BBC (<time datetime="2008-05">May 2008</time> -
  <time datetime="2012-08">Aug 2012</time>)
</h3>

<svg class="logo logo--bbc" xmlns="http://www.w3.org/2000/svg">
  <title>BBC</title>
  <use xlink:href="#logo-bbc" />
</svg>

<h4>
  BBC Olympics (<time datetime="2011-12">Dec 2011</time> -
  <time datetime="2012-08">Aug 2012</time>)
</h4>

<p>
  Senior role in developing the Live video &amp; schedule pages for the London
  2012 Olympic games.
</p>

<p>
  Ensuring high standards of development in PHP, jQuery, Require.js, CSS, HTML
  5, Apache conf.
</p>

<p>
  Ensuring correct caching is applied (in the PHP code) to withstand high
  loads, using Varnish &amp; mod_cache.
</p>

<p>
  Advising &amp; pairing with junior developers.
  <a href="http://bbc.in/P8lKok">bbc.in/P8lKok</a>
  <a href="http://bbc.in/MLXaLS">bbc.in/MLXaLS</a>.
</p>

<h4>
  BBC Sport (<time datetime="2010-11">Nov 2010</time> -
  <time datetime="2011-11">Nov 2011</time>)
</h4>

<p>
  Converting story pages for Sport (authored in CPS) from old version 3
  templates to version 6. CPS is an internal system to author content for News
  &amp; Sport. Skills used - XHTML, CSS, JavaScript, and Velocity templates.
</p>

<p>
  Football team pages using BDD. Using PHP (Zend), consuming JSON &amp;
  RDF+XML data. EasyRDF PHP library used to parse RDF data. Cucumber tests
  written using Ruby &amp; Capybara. Unit tests written using PHPUnit. Git
  versioning control system used with SVN.
</p>

<p>
  Influential role in producing the new BBC Sport website as it is today.
  Using HTML 5, JavaScript, CSS, Apache SSIs, Apache config, Velocity
  templating, and PHP.
  <a href="http://bbc.in/Sa6Mwj">bbc.in/Sa6Mwj</a>.
</p>

<h4>
  BBC Commonwealth Games 2010 (<time datetime="2010-08">Aug</time> -
  <time datetime="2010-10">Oct 2010</time>)
</h4>

<p>
  PHP, Javascript, XHTML, CSS, Apache SSIs, Perforce.
  <a href="http://bbc.in/OaSM68">bbc.in/OaSM68</a>.
</p>

<h4>
  BBC World Cup 2010 (<time datetime="2010-04">Apr</time> -
  <time datetime="2010-07">Jul 2010</time>)
</h4>

<p>
  PHP, JavaScript, XHTML, CSS, Apache SSIs, Perforce to produce the live match
  pages showing text commentary/video/stats/reports.
  <a href="http://bbc.in/PMuVHf">bbc.in/PMuVHf</a>.
</p>

<h4>
  BBC iOS News app feeds (<time datetime="2010-02">Feb</time> -
  <time datetime="2010-04">Apr 2010</time>)
</h4>

<p>
  Development on BBC's Forge platform (based on CentOS) - PHP code based on
  Zend Framework to produce feeds that the iOS app consumes. TDD was utilised
  with PHPUnit tests covering all code.
  <a href="http://bit.ly/Qp7tjO">bit.ly/Qp7tjO</a>.
</p>

<h4>
  BBC Local (<time datetime="2009-04">Apr</time> -
  <time datetime="2009-10">Oct 2009</time>)
</h4>

<p>
  Worked on implementing the first comments system for BBC Local news stories
  - Skill used: Apache SSI, XHTML, CSS, JavaScript, Perforce.
</p>

<h4>
  BBC Weather (<time datetime="2008-05">May 2008</time> -
  <time datetime="2010-02">Feb 2010</time>)
</h4>

<p>
  All-round web developer. Skills used: PHP, MySQL, XHTML, CSS, JavaScript,
  Apache SSI, Perforce.
  <a href="http://bbc.in/P97MAz">bbc.in/P97MAz</a>
  <a href="http://bbc.in/MLXTwq">bbc.in/MLXTwq</a>.
</p>