<h3>
  Contract Web Developer, BBC (<time datetime="2008-05">May 2008</time> -
  <time datetime="2012-08">Aug 2012</time>)
</h3>

<svg class="logo logo--bbc" xmlns="http://www.w3.org/2000/svg">
  <title>BBC</title>
  <use xlink:href="#logo-bbc" />
</svg>

<h4>
  BBC Olympics (<time datetime="2011-12">Dec 2011</time> -
  <time datetime="2012-08">Aug 2012</time>)
</h4>

<p>
  Senior role in developing the Live video &amp; schedule pages for the
  <a href="https://www.bbc.co.uk/sport/olympics/2012"
    >London 2012 Olympic games</a
  >.
</p>

<p>
  Ensuring correct caching is applied (in the PHP code) to withstand high loads,
  using Varnish and mod_cache.
</p>

<p>
  Advising and pairing with junior developers.
</p>

<p>
  Skills: PHP, jQuery, Require.js, CSS, HTML5, Apache conf.
</p>

<h4>
  BBC Sport (<time datetime="2010-11">Nov 2010</time> -
  <time datetime="2011-11">Nov 2011</time>)
</h4>

<p>Implementing new design for BBC Sport story pages.</p>

<p>Skills: XHTML, CSS, JavaScript, and Velocity templates.</p>

<p>
  Football team pages using BDD. Using PHP (Zend), consuming JSON &amp; RDF+XML
  data. Cucumber tests written using Ruby &amp; Capybara. Unit tests written
  using PHPUnit.
</p>

<p>
  Influential role in producing the new
  <a href="https://www.bbc.co.uk/sport">BBC Sport website</a>. Using HTML 5,
  JavaScript, CSS, Apache SSIs, Apache config, Velocity templating, and PHP.
</p>

<h4>
  BBC Commonwealth Games and World Cup 2010 (<time datetime="2010-04">Apr</time>
  - <time datetime="2010-10">Oct 2010</time>)
</h4>

<p>
  Developing the <a href="http://bbc.in/PMuVHf">live match pages</a> showing
  text commentary, video, stats and reports.
</p>

<p>
  Skills: PHP, JavaScript, XHTML, CSS, Apache SSIs, Perforce
</p>

<h4>
  BBC iOS News app feeds (<time datetime="2010-02">Feb</time> -
  <time datetime="2010-04">Apr 2010</time>)
</h4>

<p>
  Development on BBC's Forge platform - PHP code based on Zend Framework to
  produce feeds that the <a href="http://bit.ly/Qp7tjO">iOS app</a> consumes.
  TDD was utilised with PHPUnit tests covering all code.
</p>

<h4>
  BBC Local (<time datetime="2009-04">Apr</time> -
  <time datetime="2009-10">Oct 2009</time>)
</h4>

<p>
  Worked on implementing the first comments system for BBC Local news stories -
</p>

<p>Skill: Apache SSI, XHTML, CSS, JavaScript, Perforce.</p>

<h4>
  BBC Weather (<time datetime="2008-05">May 2008</time> -
  <time datetime="2010-02">Feb 2010</time>)
</h4>

<p>
  Full stack developer building a new version of the
  <a href="https://bbc.in/P97MAz">BBC weather</a> site.
</p>

<p>Skills: PHP, MySQL, XHTML, CSS, JavaScript, Apache SSI, Perforce.</p>
