<h3>
  Senior Frontend Developer, Bonhams (<time datetime="2021-10">Oct 2021</time>
  - <time datetime="2026-04">Apr 2026</time>)
</h3>

<svg class="logo logo--bonhams" xmlns="http://www.w3.org/2000/svg">
  <title>Bonhams</title>
  <use xlink:href="#logo-bonhams" />
</svg>

<p>
  Transforming <a href="https://www.bonhams.com/">Bonhams</a>&rsquo; site, and
  mobile app using Typescript/Javascript, NextJS, React/React Native, CSS
  (styled-components), HTML.
</p>

<span>Skills:</span>
<ul class="skills">
  <li>Typescript</li>
  <li>Javascript</li>
  <li>NextJS</li>
  <li>React</li>
  <li>React Native</li>
  <li>styled-components</li>
  <li>HTML</li>
</ul>
