<h3>
  Executive Director, Guntrisoft Ltd (<time datetime="2000">2000</time>
  - To Date)
</h3>

<p>
  Development of a number websites over the years. These include:
</p>

<dl>
  <dt>
    <a href="https://www.holmesdale.net">The Holmesdale Online</a>
  </dt>
  <dd>
    Multi award winning Unofficial Crystal Palace FC website. I am completely
    responsible for the design and development of the site, which was developed in
    HTML, CSS, PHP, and MySQL.
  </dd>
  <dt>
    Soccer Gaming Downloads Centre (no longer active)
  </dt>
  <dd>
    I was lead programmer on this project. The website obtained just under 3
    million page impressions in its first month of operation. It was developed
    using PHP and a MySQL Database.
  </dd>
</dl>
