<h3>
  Executive Director, Guntrisoft Ltd (<time datetime="2000">2000</time>
  - Present)
</h3>

<p>
  Development of websites including:
</p>

<dl>
  <dt>
    <a href="https://www.holmesdale.net">The Holmesdale Online</a>
  </dt>
  <dd>
    Multi award winning unofficial Crystal Palace FC website. Responsible for
    the design and development of the site, developed in HTML, CSS, PHP, and
    MySQL.
  </dd>
  <dt>
    Soccer Gaming Downloads Centre (no longer active)
  </dt>
  <dd>
    Lead programmer. The website obtained approximately 3 million page
    impressions in the first month. Developed using PHP and MySQL.
  </dd>
</dl>
