<h3>
  Executive Director, Guntrisoft Ltd (<time datetime="2000">2000</time>
  - To Date)
</h3>

<p>
  I was one of four founding directors of Guntrisoft Ltd. (Registered in the UK
  no. 03973977).
</p>
<p>
  I have overseen the development of a number of websites as a director of
  Guntrisoft since 2000, including:
</p>

<dl>
  <dt>
    The Holmesdale Online –
    <a href="http://www.holmesdale.net">www.holmesdale.net</a>
  </dt>
  <dd>
    Multi award winning Unofficial Crystal Palace FC website. I am completely
    responsible for the design and development of the site, which was done in
    HTML, CSS, PHP, and MySQL. In February 2000 the site was voted the best fan
    run website on the Internet by The Guardian and Observer newspapers. The
    article about the award is available at
    <a href="http://bit.ly/1W4ejAA">bit.ly/1W4ejAA</a>. The site exceeds 5
    million page impressions per month.
  </dd>
  <dt>
    Soccer Gaming Downloads Centre - (no longer active)
  </dt>
  <dd>
    I was lead programmer on this project. The website obtained just under 3
    million page impressions in its first month of operation. It was developed
    using PHP and a MySQL Database.
  </dd>
  <dt>Support 4 Success</dt>
  <dd>
    A website developed for the Association of Colleges. The site has a full
    backend Content Management System built using PHP and MySQL.
  </dd>
  <dt>Red Sales Recruitment</dt>
  <dd>
    Recruitment website for a small South East London based company. Includes
    the facility to upload job ads, and candidates. Developed using PHP and
    MySQL.
  </dd>
</dl>
