<h3>
  Contract Senior Interface Developer, Digitas LBi (<time datetime="2013-10"
    >Oct 2013</time
  >)
</h3>

<svg class="logo logo--lbi" xmlns="http://www.w3.org/2000/svg">
  <title>Digitas LBi</title>
  <use xlink:href="#logo-lbi" />
</svg>

<p>
  Front end development work for <a href="http://www.honda.es">Honda Europe</a>
</p>

<span>Skills:</span>
<ul class="skills">
  <li>HTML5</li>
  <li>CSS3</li>
  <li>Javascript</li>
  <li>Require.js</li>
  <li>Underscore.js</li>
  <li>Backbone.js</li>
  <li>Jasmine</li>
  <li>Grunt</li>
</ul>
