<h3>
  Contract Frontend Developer, Money Advice Service (<time datetime="2014-11"
    >Nov 2014</time
  >
  - <time datetime="2015-08">August 2015</time>)
</h3>

<svg class="logo logo--mas" xmlns="http://www.w3.org/2000/svg">
  <title>Money Advice Service</title>
  <use xlink:href="#logo-mas" />
</svg>

<p>
  Senior frontend role helping to develop and maintain components for Money
  Advice Service's open source library Dough
  <a href="https://github.com/moneyadviceservice/dough"
    >github.com/moneyadviceservice/dough</a
  >.
</p>

<p>
  I also helped develop the frontend output for the Money Advice Service's Blog
  <a href="https://blog.moneyadviceservice.org.uk/"
    >blog.moneyadviceservice.org.uk</a
  >
  and various improvements to the main website for the company
  <a href="https://www.moneyadviceservice.org.uk"
    >www.moneyadviceservice.org.uk</a
  >.
</p>

<p>
  Tools/Languages used: HTML5, CSS3, Sass, Ruby-on-rails, rspec, cucumber, gulp,
  Karma, Mocha, Chai, Sinon, Require JS, jQuery, Photoshop, Illustrator.
</p>
