<h3>
  Contract Frontend Developer, Money Advice Service (<time datetime="2014-11"
    >Nov 2014</time
  >
  - <time datetime="2015-08">August 2015</time>)
</h3>

<svg class="logo logo--mas" xmlns="http://www.w3.org/2000/svg">
  <title>Money Advice Service</title>
  <use xlink:href="#logo-mas" />
</svg>

<p>
  Senior frontend role helping to develop and maintain components for Money
  Advice Service's open source library
  <a href="https://github.com/moneyadviceservice/dough">Dough</a>.
</p>

<p>
  Developed the frontend output for the
  <a href="https://blog.moneyadviceservice.org.uk/"
    >Money Advice Service's Blog</a
  >
  and various improvements to the
  <a href="https://www.moneyadviceservice.org.uk">main website</a> for the
  company.
</p>

<p>
  Skills: HTML5, CSS3, Sass, Ruby-on-rails, rspec, cucumber, gulp, Karma, Mocha,
  Chai, Sinon, Require JS, jQuery, Photoshop, Illustrator.
</p>
