<h3>
  Contract Web Developer, Department for Work and Pensions (<time
    datetime="2016-08"
    >Aug 2016</time
  >
  - <time datetime="2017-07">Jul 2017</time>)
</h3>

<svg class="logo logo--pension-wise" xmlns="http://www.w3.org/2000/svg">
  <title>Pension Wise</title>
  <use xlink:href="#logo-pension-wise" />
</svg>

<p>
  Improvements to the customer journey on
  <a href="https://www.pensionwise.gov.uk">Pension Wise</a> and developing
  customer facing and backend tools for appointment scheduling.
</p>

<p>Skills: HTML5, Sass, JS, jQuery and Ruby, Photoshop.</p>
