<h3>
  Web Developer, SThree (<time datetime="2001">2001</time> -
  <time datetime="2004">2004</time>)
</h3>

<svg class="logo logo--sthree" xmlns="http://www.w3.org/2000/svg">
  <title>SThree</title>
  <use xlink:href="#logo-sthree" />
</svg>

<p>
  Developed recruitment websites for multiple brands including Huxley, Computer
  Futures and the IT Job Board.
</p>

<span>Skills:</span>
<ul class="skills">
  <li>PHP</li>
  <li>HTML</li>
  <li>DHTML</li>
  <li>Javascript</li>
  <li>CSS</li>
  <li>XML</li>
  <li>XSLT</li>
  <li>Oracle</li>
  <li>Solid</li>
</ul>