<h3>
  Web Developer, SThree (<time datetime="2001">2001</time> -
  <time datetime="2004">2004</time>)
</h3>

<svg class="logo logo--sthree" xmlns="http://www.w3.org/2000/svg">
  <title>SThree</title>
  <use xlink:href="#logo-sthree" />
</svg>

<p>
  During my time at S Three I worked heavily in PHP, HTML, DHTML, JavaScript,
  CSS, XML, XSLT, Oracle, and Solid helping to develop IT job websites, and
  backend Content Management Systems. Sites that I have had heavy involvement
  with during my time at S-Three are:
</p>

<dl>
  <dt>
    The IT Job Board -
    <a href="http://www.theitjobboard.com">www.theitjobboard.com</a>
  </dt>
  <dd>
    I was one of three programmers working on this website, which uses PHP,
    Oracle, DHTML, HTML, JavaScript, CSS, XML, and XSLT.
  </dd>

  <dt>
    Huxley Associates -
    <a href="http://www.huxley.com">www.huxley.com</a>
  </dt>
  <dd>
    A multi-language recruitment website covering IT, Finance and Engineering.
    Using PHP, Oracle, DHTML, HTML, JavaScript, CSS, and XML. The site also has
    an impressive backend Content Management System which I helped to develop.
  </dd>

  <dt>
    Computer Futures Solutions -
    <a href="http://www.computerfutures.com">www.computerfutures.com</a>
  </dt>
  <dd>
    HTML, DHTML, CSS and JavaScript for a multi-language recruitment website.
  </dd>

  <dt>Other Sites</dt>
  <dd>
    <ul>
      <li>
        Progressive Recruitment -
        <a href="http://www.progressive.co.uk">www.progressive.co.uk</a>
      </li>
      <li>
        Real IT -
        <a href="http://www.realit.co.uk">www.realit.co.uk</a>
      </li>
      <li>
        S-Three Corporate Website -
        <a href="http://www.sthree.com">www.sthree.com</a>
      </li>
      <li>
        S-Three Careers Website -
        <a href="http://www.sthreecareers.com">www.sthreecareers.com</a>
      </li>
      <li>S-Three Intranet</li>
    </ul>
  </dd>
</dl>
