<h3>
  Contract Senior Frontend Developer, Wunderman Thompson Commerce (<time
    datetime="2020-09"
    >Sept 2020</time
  >
  - Present)
</h3>

<svg class="logo logo--wunderman" xmlns="http://www.w3.org/2000/svg">
  <title>Wunderman Thompson Commerce</title>
  <use xlink:href="#logo-wunderman" />
</svg>

<p>Re-developing the European websites for <a href="https://www.calvinklein.co.uk/">Calvin Klein</a> and <a href="https://uk.tommy.com/">Tommy Hilfiger</a> (PVH).</p>

<span>Skills:</span>
<ul class="skills">
  <li>NextJS</li>
  <li>React</li>
  <li>Typescript</li>
  <li>Javascript</li>
  <li>Sass</li>
  <li>webpack</li>
  <li>babel</li>
  <li>react-testing-library</li>
</ul>
