<section>
  <h2>Education</h2>

  <h3>
    Bsc (hons) Software Engineering, Sheffield Hallam University (<time
      datetime="1997"
      >1997</time
    >
    - <time datetime="2001">2001</time>)
  </h3>

  <p>
    My dissertation for my final year was on web usability, and why it is so
    important for the success of websites.
  </p>

  <h3>
    Bishop Challoner School, Shortlands, Kent (<time datetime="1989">1989</time>
    - <time datetime="1996">1996</time>)
  </h3>

  <p>2 A-Levels and 9 GCSEs.</p>
</section>