<svg
  xmlns="http://www.w3.org/2000/svg"
  style="display: none;"
>
  {% include svg/wunderman.html %}
  {% include svg/authored.html %}
  {% include svg/acuris.html %}
  {% include svg/pension-wise.html %}
  {% include svg/mas.html %}
  {% include svg/bbc-news.html %}
  {% include svg/lbi.html %}
  {% include svg/bbc-weather.html %}
  {% include svg/tui.html %}
  {% include svg/bbc.html %}
  {% include svg/twitter.html %}
  {% include svg/email.html %}
  {% include svg/telephone.html %}
  {% include svg/linkedin.html %}
</svg>
<svg xmlns="http://www.w3.org/200/svg"
style="width: 0; height:0; position: absolute; visibility: hidden;">
  {% include svg/guntrisoft.html %}
</svg>